
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div>
                <div class="banner__pic">
                    <img src="~/Images/Bannel/poster-2.jpg" alt="" >
                </div>
            </div>
            
        </div>
    </div>
</div>
<br />
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<!-- Featured Section End -->
<!-- Banner Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            @Html.Action("SubjectType", "Home")
        </div>
    </div>
</section>
